@(user: Option[User])(implicit messages: Messages)

@main("Login User") {

@Template.navbar(user)


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" class="pull-left">
            @Template.pages()
        </div>
        <div class="col-md-10">
            @if(user.get.role != Role.Admin){
            <h3> Menu For Student </h3>
            <a href="@routes.StudentController.add" class="btn btn-primary">Add Student</a>
            <a href="@routes.StudentController.selectEvent" class="btn btn-primary">View Students</a>
            <a href="@routes.StudentController.upload" class="btn btn-primary">Upload CSV</a>
            <a href="@routes.StudentController.report" class="btn btn-primary">Report</a>
            <hr>
            <hr>
            }
        </div>
    </div>
</div>

}