@(user: Option[User])(implicit messages: Messages)

@main("Login User") {

@Template.navbar(user)


<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" class="pull-left">
            @Template.pages()
        </div>
        <div class="col-md-10">
            @if(user.get.role != Role.Admin){
            <h3> Menu For Student </h3>
            <a href="@routes.StudentController.viewStudentForm" class="btn btn-primary">Add Student</a>
            <a href="@routes.StudentController.selectEventToViewStudents" class="btn btn-primary">View Students</a>
            <a href="@routes.StudentController.viewUploadForm" class="btn btn-primary">Upload CSV</a>
            <a href="@routes.StudentController.selectEventToViewReport" class="btn btn-primary">Report</a>
            <hr>
            <hr>
            }
        </div>
    </div>
</div>

}