@(user: Option[User], studentsPerLeagueList: Seq[StudentsPerLeagueInfo], totalSizeInfo: TotalSizeInfo)(implicit messages: Messages)

@main("Login User") {

@Template.navbar(user)

<style media="screen" type="text/css">
td.border {
    border-bottom: 2px solid #7FFFD4;
}
</style>

<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">

        <h3>Student Per League</h3>

        <table class="table">
            <thead>
            <tr>
                <th>League</th>
                <th>League (Sub-Category)</th>
                <th>Number of Teams</th>
                <th>Number of Local Teams</th>
                <th>Number of International Teams</th>
                <th>Number Of Students</th>
                <th>Number Of Local Students</th>
                <th>Number Of International Students</th>
                <th>Team Distribution</th>
                <th>Student Distribution</th>

            </tr>
            </thead>
            <tbody>




            @for(s <- studentsPerLeagueList){


            @for(ss <- s.listOfStudentPerCombinedLeague){
            <tr>
                <td>@ss.leagueInfo.league</td>
                <td>@ss.leagueInfo.subLeague</td>
                <td>@ss.teamSize</td>
                <td>@ss.localTeamSize</td>
                <td>@ss.internationalTeamSize</td>
                <td>@ss.students.size</td>
                <td>@ss.numberOfLocalStudent</td>
                <td>@ss.numberOfInternationalStudent</td>
                <td>@ss.teamDistribution</td>
                <td>@ss.studentDistribution</td>

            </tr>
            }

            <tr>
                <td class = "border"><strong>@s.studentsOfPerLeague.league</strong></td>
                <td class = "border"></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.teamSize</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.localTeamSize</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.internationalTeamSize</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.students.size</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.numberOfLocalStudent</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.numberOfInternationalStudent</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.teamDistribution</strong></td>
                <td class = "border"><strong>@s.studentsOfPerLeague.studentDistribution</strong></td>
            </tr>

            }
            </tbody>
        </table>

        <h3>Total</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Number Of Students</th>
                <th>Number Of Teams</th>
                <th>Number Of Local Teams</th>
                <th>Number of International Teams</th>
                <th>Number of Local Students</th>
                <th>Number of International Students</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>@totalSizeInfo.numberOfStudent</td>
                <td>@totalSizeInfo.numberOfTeam</td>
                <td>@totalSizeInfo.numberOfLocalTeam</td>
                <td>@totalSizeInfo.numberOfInternationalTeam</td>
                <td>@totalSizeInfo.numberOfLocalStudent</td>
                <td>@totalSizeInfo.numberOfInternationalStudent</td>
            </tr>

            </tbody>
        </table>




        <div class="well"><a href="@routes.StudentController.menu"> Back To Student Menu</a> </div>

    </div>
    <div class="col-md-1"> </div>
</div>

}