@(user: Option[User], studentsPerLeagueList: Seq[StudentsPerLeague], totalSizeInfo: TotalSizeInfo)(implicit messages: Messages)

@main("Login User") {

@Template.navbar(user)


<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">

        <h3>Student Per League</h3>

        <table class="table">
            <thead>
            <tr>
                <th>League</th>
                <th>League (Sub-Category)</th>
                <th>Number of Teams</th>
                <th>Number of Local Teams</th>
                <th>Number of International Teams</th>
                <th>Number Of Students</th>
                <th>Number Of Local Students</th>
                <th>Number Of International Students</th>
                <th>Team Distribution</th>
                <th>Student Distribution</th>

            </tr>
            </thead>
            <tbody>

            @for(studentsPerLeague <- studentsPerLeagueList){
            <tr>
                <td>@studentsPerLeague.leagueInfo.league</td>
                <td>@studentsPerLeague.leagueInfo.subLeague</td>
                <td>@studentsPerLeague.teamSize</td>
                <td>@studentsPerLeague.localTeamSize</td>
                <td>@studentsPerLeague.internationalTeamSize</td>
                <td>@studentsPerLeague.students.size</td>
                <td>@studentsPerLeague.numberOfLocalStudent</td>
                <td>@studentsPerLeague.numberOfInternationalStudent</td>
                <td>@studentsPerLeague.teamDistribution</td>
                <td>@studentsPerLeague.studentDistribution</td>
            </tr>
            }
            </tbody>
        </table>

        <h3>Total</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Number Of Students</th>
                <th>Number Of Teams</th>
                <th>Number Of Local Teams</th>
                <th>Number of International Teams</th>
                <th>Number of Local Students</th>
                <th>Number of International Students</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>@totalSizeInfo.numberOfStudent</td>
                <td>@totalSizeInfo.numberOfTeam</td>
                <td>@totalSizeInfo.numberOfLocalTeam</td>
                <td>@totalSizeInfo.numberOfInternationalTeam</td>
                <td>@totalSizeInfo.numberOfLocalStudent</td>
                <td>@totalSizeInfo.numberOfInternationalStudent</td>
            </tr>

            </tbody>
        </table>




        <div class="well"><a href="@routes.StudentController.menu"> Back To Student Menu</a> </div>

    </div>
    <div class="col-md-1"> </div>
</div>

}